<!-- Footer Start -->

<footer class="text-dark pt-5 ">
  <div class="container-fluid footer">
    <div class="row p-2">

     
      <div class="col-md-4 mb-3">
       <img src="/images/circular image.png" alt="logo" style="height:150px;width:150px;">
      <a class="navbar-brand fw-bold text-danger" href="#">
      Sakhi <span class="text-dark">Spark</span>
    </a>
        <p class="text-center fw-bold">Empowering women, inspiring change, and creating opportunities for every woman to shine.</p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 my-5 text-center">
        <h5 class="fw-bold">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-dark text-decoration-none">Home</a></li>
          <li><a href="/about" class="text-dark text-decoration-none">About Us</a></li>
          <li><a href="/program" class="text-dark text-decoration-none">Programs</a></li>
          <li><a href="/contact" class="text-dark text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-4 my-5">
        <h5 class="fw-bold">Connect With Us</h5>
        <a href="#" class="text-dark me-3"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#" class="text-dark me-3"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#" class="text-dark me-3"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#" class="text-dark"><i class="fab fa-linkedin fa-lg"></i></a>
      </div>
    
    </div>
     <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <p class="text-center">We are a voluntary organisation registered in 1985 under the Lorem Ipsum Act 15824 dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
              ullamco laboris nisi ut aliquip ex ea commodo consequat.

              All donations given to ut enim ad minim veniam,
             quis nostrud exercitation quia non numquam 
             eius modi tempora incidunt ut labore et dolore.</p>
        </div>
        <div class="col-1"></div>
    </div>
  

    
    <div class="text-center mt-4 border-top pt-3">
      <p class="mb-0">&copy; 2026 Sakhi Spark. All Rights Reserved.</p>
    </div>
    </div>
   
</footer>
<!-- Footer End -->

        </div>
    </div>
</div>
</main>

  </body>
</html>

