
   <!DOCTYPE html>
<html>
    <head>
        <title>Sakhi Spark</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="../images/favicon.png">
        <link href="/css/user_style.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    </head>
   <body>
        <main>
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent position-absolute w-100">
  <div class="container">
    <img src="/images/circular image.png" alt="logo" style="height:150px;width:150px;">
    <a class="navbar-brand fw-bold text-danger" href="#">
      Sakhi <span class="text-white">Spark</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/program">Programs</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-white" href="/volunteer">Volunteer</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-white" href="/donate">Donate</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-white" href="/event">Events</a>
        </li>
         <li class="nav-item">
          <a class="nav-link text-white" href="/contact">Contact</a>
        </li>
      </ul>
      <span class="navbar-text">
       <a href="/donate" class="btn btn-danger px-4 rounded-pill fw-bold text-white"> Donate </a>
      </span>
    </div>
  </div>
</nav>



    
            
  